<h1>Search !</h1>
<%= label_tag("Search for:") %>
<%= label_tag(@a) %>
<br/>
<br/>
<br/>
<% @finalresult.each do |q|%>
<%= q[:title]%>
<br/>
<%= link_to q[:url],q[:url]%>
<br/>
<br/>
<% end %>
